.movie-details-container {
    text-align : center;
    justify-content: space-between;
    display: flex;
    flex-direction : column
}

.container-body {
    text-align : center;
    border : solid 1px grey;
}

.movie-cover {
    height : 50vh;
}

.details-container {
    border : none
}



@media only screen and (min-width: 1000px) {
    .movie-details-container {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  @media only screen and (min-width: 1000px) {
    .left-part-lg {
     margin: 50px;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .right-part-lg {
     margin: 50px
    }
  }

  @media only screen and (min-width: 1000px) {
    .movie-cover {
     height: 120vh
        }
  }


